@import '../abstracts/mixins';

.form {
    @include res('margin-bottom', 100px);

    &__container {
        background: #232324;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include res('padding', 80px);
        @include res('border-radius', 24px);
    }

    &__content {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__left,
    &__right {
        width: 42%;
    }

    &__title {
        color: white;
        font-weight: 700;
        @include res('font-size', 40px);
        @include res('line-height', 40px);
        @include res('margin-bottom', 24px);
    }

    &__subtitle {
        color: white;
        font-weight: 500;
        @include res('font-size', 20px);
        @include res('line-height', 28px);
        @include res('margin-bottom', 40px);
    }

    &__profile {
        display: flex;
        align-items: center;
    }

    &__profile-img {
        border-radius: 50%;
        @include res('margin-right', 24px);
        @include res('width', 60px);
        @include res('height', 60px);
    }

    &__telegram-link {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border: solid white;
        @include res('border-width', 1px);
        @include res('padding', 16px);
        @include res('padding-top', 8px);
        @include res('padding-bottom', 8px);
        @include res('gap', 10px);
        @include res('border-radius', 8px);
        font-weight: 500;
        @include res('font-size', 16px);

        &__icon {
            @include res('width', 24px);
            @include res('height', 24px);
            background: linear-gradient(180deg, #2AABEE 0%, #229ED9 10000%);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                @include res('width', 13px);
                @include res('height', 13px);
            }
        }

    }

    &__label {
        display: block;
        color: white;
        font-weight: 500;
        @include res('font-size', 16px);
        @include res('margin-bottom', 8px);
    }

    &__input {
        width: 100%;
        @include res('padding', 16px);
        font-weight: 400;
        @include res('font-size', 18px);
        @include res('border-radius', 8px);
        background: #363738;
        border: solid #5D5F61;
        @include res('border-width', 1px);
        color: white;
        @include res('margin-bottom', 24px);
        outline: none;
    }

    &__submit {
        width: 100%;
        @include res('padding', 16px);
        background: #3478FF;
        border: none;
        @include res('border-radius', 8px);
        color: white;
        @include res('font-size', 18px);
        cursor: pointer;
        transition: background 200ms;

        &:hover {
            background: #3478ffa2;
        }
    }

    &__agreement {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        @include res('font-size', 14px);
        text-align: center;
        @include res('margin-top', 8px);

        p {
            color: white;
        }

        a {
            color: #828282;
        }
    }
}