@import "../abstracts/mixins";
.intro {
    background: #0a0a0a;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    @include res("padding-top", 220px);
    @include res("min-height", 800px);
    @include media(1400) {
        @include resm("padding-top", 170px);
        @include resm("padding-bottom", 100px);
        @include resm("min-height", 650px);
    }
    @include media(576) {
        @include resa("padding-top", 80px);
        @include resa("padding-bottom", 40px);
        @include resa("min-height", 812px);
    }
    &__body {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @include media(576) {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            @include resa("gap", 60px);
        }
    }
    &__content {
        @include res("max-width", 486px);
        @include media(1400) {
            @include resm("max-width", 410px);
        }
        @include media(576) {
            max-width: 100%;
        }
    }
    &__title {
        position: relative;
        &-box {
            display: flex;
            overflow: hidden;
            flex-direction: column;
            @include res("margin-bottom", 55px);
            @include media(1400) {
                @include resm("margin-bottom", 55px);
            }
            @include media(576) {
                text-align: center;
                align-items: center;
                margin-bottom: 0;
            }
            &.second {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .line {
            visibility: hidden;
            overflow: hidden;
            position: relative;
            @include res("height", 70px);
            @include media(1400) {
                @include resm("height", 60px);
            }
            @include media(576) {
                @include resa("height", 54px);
            }
            &.active {
                color: #d6ff63;
            }
            span {
                display: block;
                letter-spacing: -1px;
                font-weight: 700;
                line-height: 100%;
                text-wrap: nowrap;
                @include res("font-size", 64px);
                @include media(1400) {
                    @include resm("font-size", 56px);
                }
                @include media(576) {
                    @include resa("font-size", 48px);
                }
            }
            .visible {
                visibility: visible !important;
            }
        }
    }
    &__desc {
        line-height: 140%;
        letter-spacing: -1px;
        display: block;
        @include res("margin-bottom", 24px);
        @include res("font-size", 20px);
        @include media(1400) {
            @include resm("margin-bottom", 24px);
            @include resm("font-size", 20px);
        }
        @include media(576) {
            display: none;
            text-align: center;
            @include resa("font-size", 16px);
            @include resa("margin-bottom", 24px);
        }
    }
    &__btn {
        @include res("font-size", 18px);
        @include res("padding-top", 17px);
        @include res("padding-bottom", 17px);
        @include res("padding-left", 32px);
        @include res("padding-right", 32px);
        @include res("border-radius", 8px);
        background: #3a82ee;
        display: flex;
        align-items: center;
        justify-content: center;
        width: max-content;
        font-weight: 700;
        line-height: 90%;
        letter-spacing: -1px;
        transition: box-shadow 200ms ease-out;
        &:hover {
            box-shadow: 0 0 30px #3a82ee;
        }
        @include media(1400) {
            @include resm("font-size", 18px);
            @include resm("padding-top", 17px);
            @include resm("padding-bottom", 17px);
            @include resm("padding-left", 32px);
            @include resm("padding-right", 32px);
            @include resm("border-radius", 8px);
        }
        @include media(576) {
            display: none;
            width: 100%;
            @include resa("font-size", 18px);
            @include resa("padding-top", 17px);
            @include resa("padding-bottom", 17px);
            @include resa("padding-left", 32px);
            @include resa("padding-right", 32px);
            @include resa("border-radius", 8px);
        }
    }
    &__img {
        position: relative;
        line-height: 0;
        isolation: isolate;
        opacity: 0;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        @include res("width", 588px);
        @include media(1400) {
            @include resm("width", 476px);
        }
        @include media(576) {
            @include resa("width", 343px);
        }
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            background: #d6ff63;
            filter: blur(400px);
            border-radius: 50%;
            opacity: 1%;
            pointer-events: none;
            @include res("width", 939px);
            @include res("height", 939px);
            @include media(1400) {
                @include resm("width", 939px);
                @include resm("height", 939px);
            }
            @include media(576) {
                @include resa("width", 939px);
                @include resa("height", 939px);
            }
        }
        & > img {
            width: 100%;
            height: 100%;
        }
        &-icon {
            position: absolute;
            @include res("top", 89px);
            @include res("left", 146px);
            @include res("width", 323px);
            @include res("height", 127px);
            animation: scale 2s infinite;
            filter: drop-shadow(0 0 10px #00000040);
            @include media(1400) {
                @include resm("top", 76px);
                @include resm("left", 100px);
                @include resm("width", 291px);
                @include resm("height", 103px);
            }
            @include media(576) {
                @include resa("top", 55px);
                @include resa("left", 85px);
                @include resa("width", 188px);
                @include resa("height", 74px);
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    &__right {
        display: none;
        @include media(576) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            & > * {
                display: flex !important;
            }
        }
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.96);
    }
    100% {
        transform: scale(1);
    }
}
