@import '../abstracts/mixins';

.vacancies {
    @include res('margin-bottom', 100px);
    @include media(1400){
        @include resm('margin-bottom', 100px);
    }   
    @include media(576){
        @include resa('margin-bottom', 80px);
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .vacancies {
        &-title {
            font-weight: 700;
            text-align: center;
            line-height: 140%;
            @include res('letter-spacing', -1px);
            @include res('margin-bottom', 40px);
            @include res('font-size', 56px);
            @include media(1400){
                @include resm('margin-bottom', 40px);
                @include resm('font-size', 48px);
                @include resm('letter-spacing', -1px);
            }
            @include media(576){
                @include resa('margin-bottom', 40px);
                @include resa('font-size', 40px);
                @include resa('letter-spacing', -1px);
            }
        }

        &__list {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            @include res('gap', 16px);

            &-item {
                width: 100%;
                @include res('padding', 41px);
                @include res('padding-right', 82px);
                background-color: white;
                @include res('border-radius', 24px);
                text-align: start;
                position: relative;

                &__text {
                    color: black;
                    font-weight: 700;
                    @include res('font-size', 40px);
                    @include res('line-height', 40px);
                    letter-spacing: -5%;
                }


                &__indicator {
                    @include res('width', 42px);
                    @include res('height', 42px);
                    background-color: #3A82EE;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    @include res('right', 40px);
                    transform: translateY(-50%);

                    svg {
                        @include res('width', 18px);
                        @include res('height', 18px);
                    }
                }
            }
        }
    }
}