@import "../abstracts/mixins";

.vacancies {
    @include res("margin-bottom", 100px);
    @include media(1400) {
        @include resm("margin-bottom", 100px);
    }
    @include media(576) {
        @include resa("margin-bottom", 80px);
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .vacancies {
        &-title {
            font-weight: 700;
            text-align: center;
            line-height: 140%;
            @include res("letter-spacing", -1px);
            @include res("margin-bottom", 40px);
            @include res("font-size", 56px);
            @include media(1400) {
                @include resm("margin-bottom", 40px);
                @include resm("font-size", 48px);
                @include resm("letter-spacing", -1px);
            }
            @include media(576) {
                @include resa("margin-bottom", 40px);
                @include resa("font-size", 40px);
                @include resa("letter-spacing", -1px);
            }
        }

        &__list {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            @include res("gap", 16px);
            @include media(1400) {
                @include resm("gap", 16px);
            }
            @include media(576) {
                @include resa("gap", 16px);
            }
            .accordion {
                width: 100%;
                &__content {
                    display: none;
                    background: #fff;
                    color: #000;
                    @include res("margin-top", -50px);
                    @include res("border-radius", 24px);
                    @include res("padding", 40px);
                    @include res("padding-top", 50px);
                    @include media(1400) {
                        @include resm("margin-top", -50px);
                        @include resm("border-radius", 24px);
                        @include resm("padding", 40px);
                        @include resm("padding-top", 50px);
                    }
                    @include media(576) {
                        @include resa("margin-top", -50px);
                        @include resa("border-radius", 24px);
                        @include resa("padding", 16px);
                        @include resa("padding-top", 50px);
                    }
                    h3 {
                        font-weight: 700;
                        line-height: 100%;
                        @include res("letter-spacing", -1px);
                        @include res("font-size", 24px);
                        @include res("margin-bottom", 8px);
                        @include media(1400) {
                            @include resm("letter-spacing", -1px);
                            @include resm("font-size", 24px);
                            @include resm("margin-bottom", 8px);
                        }
                        @include media(576) {
                            @include resa("letter-spacing", -1px);
                            @include resa("font-size", 24px);
                            @include resa("margin-bottom", 8px);
                        }
                        &:not(:first-of-type) {
                            @include res("margin-top", 16px);
                            @include media(1400) {
                                @include resm("margin-top", 16px);
                            }
                            @include media(576) {
                                @include resa("margin-top", 16px);
                            }
                        }
                    }
                    p {
                        line-height: 140%;
                        @include res("max-width", 900px);
                        @include res("letter-spacing", -1px);
                        @include res("font-size", 16px);
                        @include media(1400) {
                            @include resm("max-width", 900px);
                            @include resm("letter-spacing", -1px);
                            @include resm("font-size", 16px);
                        }
                        @include media(576) {
                            @include resa("max-width", 900px);
                            @include resa("letter-spacing", -1px);
                            @include resa("font-size", 16px);
                        }
                    }
                    .hover {
                        color: #fff;
                        background: #3a82ee;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: max-content;
                        font-weight: 700;
                        line-height: 90%;
                        letter-spacing: -1px;
                        transition: box-shadow 200ms ease-out;
                        @include res("font-size", 18px);
                        @include res("padding-top", 17px);
                        @include res("padding-bottom", 17px);
                        @include res("padding-left", 32px);
                        @include res("padding-right", 32px);
                        @include res("border-radius", 8px);
                        @include res("margin-top", 32px);
                        &:hover {
                            box-shadow: 0 0 30px #3a82ee;
                        }
                        @include media(1400) {
                            @include resm("font-size", 18px);
                            @include resm("padding-top", 17px);
                            @include resm("padding-bottom", 17px);
                            @include resm("padding-left", 32px);
                            @include resm("padding-right", 32px);
                            @include resm("border-radius", 8px);
                            @include resm("margin-top", 32px);
                        }
                        @include media(576) {
                            width: 100%;
                            @include resa("font-size", 18px);
                            @include resa("padding-top", 17px);
                            @include resa("padding-bottom", 17px);
                            @include resa("padding-left", 32px);
                            @include resa("padding-right", 32px);
                            @include resa("border-radius", 8px);
                            @include resa("margin-top", 32px);
                        }
                    }
                }
            }
            &-item {
                width: 100%;
                background-color: white;
                text-align: start;
                position: relative;
                @include res("border-radius", 24px);
                @include res("padding", 40px);
                @include res("padding-right", 82px);
                @include media(1400) {
                    @include resm("border-radius", 24px);
                    @include resm("padding", 40px);
                    @include resm("padding-right", 82px);
                }
                @include media(576) {
                    @include resa("border-radius", 24px);
                    @include resa("padding", 16px);
                }

                &__text {
                    color: black;
                    font-weight: 700;
                    line-height: 100%;
                    @include res("letter-spacing", -1px);
                    @include res("font-size", 40px);
                    @include media(1400) {
                        @include resm("letter-spacing", -1px);
                        @include resm("font-size", 40px);
                    }
                    @include media(576) {
                        @include resa("letter-spacing", -1px);
                        @include resa("font-size", 32px);
                    }
                }

                &__indicator {
                    background-color: #3a82ee;
                    display: flex;
                    transition: 0.3s all;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    @include res("right", 40px);
                    @include res("width", 42px);
                    @include res("min-width", 42px);
                    @include res("height", 42px);
                    @include media(1400) {
                        @include resm("right", 40px);
                        @include resm("width", 42px);
                        @include resm("min-width", 42px);
                        @include resm("height", 42px);
                    }
                    @include media(576) {
                        @include resa("right", 16px);
                        @include resa("width", 36px);
                        @include resa("min-width", 36px);
                        @include resa("height", 36px);
                    }

                    svg {
                        @include res("width", 18px);
                        @include res("height", 18px);
                        @include media(1400) {
                            @include resm("width", 18px);
                            @include resm("height", 18px);
                        }
                        @include media(576) {
                            @include resa("width", 12px);
                            @include resa("height", 12px);
                        }
                    }
                    &.active {
                        background-color: #c4c8cc;
                        svg {
                            display: none;
                        }
                        .vacancies__list-item__minus {
                            display: block;
                        }
                    }
                }
                &__minus {
                    display: none;
                }
            }
        }
    }
}
