mixin form()
    section.form#form 
        .form__container.container
            .form__content
                .form__left
                    h2.form__title Ждем твоего отклика!
                    p.form__subtitle Оставьте заявку и наш менеджер свяжется с вами в ближайшее время
                    .form__profile
                        img.form__profile-img(src="img/people-1.png" alt="Profile Image" draggable="false")
                        a.form__telegram-link.hover(href="https://t.me/Alisa_AppDelivery" target="_blank")
                            .form__telegram-link__icon
                                <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.4319 4.87305C4.93065 3.34905 7.26315 2.3443 8.42941 1.8588C11.7632 0.47261 12.455 0.23186 12.9069 0.223704C13.0063 0.22211 13.2275 0.246672 13.3719 0.363391C13.4919 0.461829 13.5257 0.594954 13.5425 0.688423C13.5575 0.781798 13.5782 0.99461 13.5613 1.16074C13.3813 3.05824 12.5994 7.66286 12.2019 9.78817C12.035 10.6874 11.7032 10.9889 11.3825 11.0184C10.685 11.0825 10.1563 10.5579 9.48128 10.1155C8.42565 9.42311 7.8294 8.99224 6.80378 8.31667C5.61878 7.53592 6.38753 7.10674 7.06253 6.40549C7.23878 6.22192 10.31 3.42911 10.3682 3.1758C10.3757 3.14411 10.3832 3.02598 10.3119 2.96373C10.2425 2.9013 10.1394 2.92267 10.0644 2.93955C9.95753 2.96355 8.2719 4.0788 5.0019 6.28511C4.52378 6.61399 4.09065 6.7743 3.70065 6.76586C3.27315 6.75667 2.44815 6.52361 1.83503 6.32449C1.08503 6.08017 0.486905 5.95099 0.539405 5.53605C0.565655 5.32005 0.86378 5.09899 1.4319 4.87305Z" fill="white"/>
                                </svg>
                            |  @Alisa_AppDelivery 
                .form__right
                    form(action="" method="post") 
                        label.form__label(for="name") Ваше имя
                        input.form__input(type="text" id="name" name="name" placeholder="Имя")
                        label.form__label(for="telegram") Имя в Telegram
                        input.form__input(type="text" id="telegram" name="telegram" placeholder="@name")
                        button.form__submit.hover(type="submit") Отправить
                    .form__agreement 
                        p Нажимая на кнопку «Отправить», вы соглашаетесь с <br>
                            a(href="#") политикой обработки персональных данных