mixin header()
    header.header 
        .header__nav.container 
            .header__left 
                a(href="index.html" data-href="index.html").header__logo.hover.link
                    img(src="@img/logo.svg", alt="" draggable="false") 
                    .sm 
                        img(src="@img/logo-short.svg", alt="" draggable="false")
                .header__list 
                    a(href="index.html#stat" data-href="index.html#stat").link.header__link.hover О нас 
                    a(href="index.html#stat" data-href="index.html#stat").link.header__link.hover CPA-сеть
                    a(href="index.html#slide" data-href="index.html#slide").link.header__link.hover Аренда приложений
                    a(href="vacancies.html" data-href="vacancies.html").link.header__link.hover Вакансии
            .header__right 
                .header__lang 
                    button.header__lang-btn.hover RU
                        <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.75731 3.70723L8.05732 0.407227L8.99998 1.34989L4.75731 5.59256L0.514648 1.34989L1.45732 0.407227L4.75731 3.70723Z" fill="white"/>
                        </svg>
                    .header__lang-content 
                        button.header__lang-item.hover UA
                        button.header__lang-item.hover EN
                a(href="index.html#form" data-href="index.html#form").link.header__btn.hover Написать нам
                button.header__button 
                    span.header__button-line
        .header__menu 
            .header__menu-list 
                a(href="index.html#stat" data-href="index.html#stat").link.header__link.hover.close О нас 
                a(href="index.html#slide" data-href="index.html#slide").link.header__link.hover.close CPA-сеть 
                a(href="index.html#services" data-href="index.html#services").link.header__link.hover.close Аренда приложений 
                a(href="vacancies.html" data-href="vacancies.html").link.header__link.hover.close Вакансии 
            .header__menu-bot 
                a(href="index.html#form" data-href="index.html#form").link.header__btn.active.hover.close Написать нам
                .header__menu-soc 
                    a(href="#!").header__menu-soc-item
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9636 0H16.0364C24.8529 0 32 7.14713 32 15.9636V16.0364C32 24.8529 24.8529 32 16.0364 32H15.9636C7.14712 32 0 24.8529 0 16.0364V15.9636C0 7.14713 7.14712 0 15.9636 0ZM6.19432 15.3905C6.15059 15.4107 6.10573 15.432 6.06088 15.4545L6.05867 15.4533C5.87368 15.5475 5.69766 15.663 5.60685 15.8457C5.46223 16.1372 5.60011 16.5049 5.84003 16.7236C6.07995 16.9422 6.40059 17.0464 6.71114 17.1429C7.29524 17.3256 7.8816 17.5027 8.46906 17.6754C9.16976 17.8817 9.89848 18.0835 10.6227 17.9803C11.4322 17.866 12.1362 17.3861 12.8078 16.9198C13.837 16.205 14.8659 15.49 15.8948 14.7751C16.9237 14.0601 17.9526 13.3451 18.9817 12.6304C19.1454 12.5171 19.3517 12.3983 19.5311 12.4857C19.8327 12.6326 19.66 13.0923 19.4403 13.3468C18.7278 14.1726 17.9031 14.8929 17.0791 15.6125C16.1021 16.4658 15.1262 17.3181 14.3392 18.3447C14.1643 18.5723 13.9928 18.8279 13.9906 19.1149C13.9861 19.5914 14.4278 19.9344 14.8247 20.1968C15.6597 20.7497 16.495 21.3027 17.3303 21.8556C18.1649 22.4081 18.9995 22.9606 19.8338 23.513C20.2363 23.7787 20.6466 24.0489 21.1119 24.1778C21.5771 24.3057 22.113 24.272 22.4897 23.9704C22.9348 23.6139 23.0514 22.9951 23.1366 22.4312C23.688 18.8088 24.2384 15.1856 24.7888 11.5631L25.0111 10.1C25.1008 9.5103 25.1602 8.82193 24.7364 8.40264C24.6479 8.31407 24.5414 8.24344 24.4259 8.19299C24.0918 8.04836 23.7072 8.07527 23.3586 8.14142C23.2696 8.15824 23.1819 8.18163 23.0944 8.20498C23.0011 8.22986 22.908 8.25469 22.8137 8.27147C22.6562 8.29908 22.4974 8.37493 22.3448 8.44789C22.2867 8.47564 22.2295 8.50298 22.1736 8.52708C21.7173 8.72215 21.2607 8.91751 20.8041 9.11286C20.3476 9.30822 19.891 9.50357 19.4347 9.69865C18.9784 9.89372 18.5218 10.0891 18.0652 10.2844C17.6087 10.4798 17.1521 10.6751 16.6958 10.8702C16.2396 11.0652 15.7832 11.2605 15.3268 11.4558C14.8701 11.6512 14.4134 11.8466 13.9569 12.0418C13.5006 12.2369 13.044 12.4322 12.5875 12.6276C12.1309 12.8229 11.6743 13.0183 11.218 13.2133C10.7617 13.4095 10.3054 13.6046 9.84914 13.7997C9.73478 13.8485 9.62071 13.8972 9.50664 13.946C9.39257 13.9948 9.27851 14.0435 9.16415 14.0923L8.82221 14.2392C8.79248 14.2521 8.76276 14.2647 8.73303 14.2773C8.70333 14.2899 8.67364 14.3025 8.64394 14.3154C8.63102 14.3206 8.61483 14.3293 8.59744 14.3386C8.56199 14.3576 8.52155 14.3793 8.49373 14.3793L8.45304 14.3967C7.69748 14.7205 6.94103 15.0447 6.19432 15.3905Z" fill="#AAAEB3"/>
                        </svg>
                    a(href="#!").header__menu-soc-item
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0364 0H15.9636C7.14714 0 0 7.14713 0 15.9636V16.0364C0 24.8529 7.14714 32 15.9636 32H16.0364C24.8529 32 32 24.8529 32 16.0364V15.9636C32 7.14713 24.8529 0 16.0364 0ZM7.63099 10.6373C7.20957 10.246 7 9.76168 7 9.18543C7 8.60917 7.21069 8.10355 7.63099 7.71116C8.0524 7.31989 8.59487 7.1237 9.25949 7.1237C9.92412 7.1237 10.4453 7.31989 10.8656 7.71116C11.287 8.10243 11.4966 8.5946 11.4966 9.18543C11.4966 9.77625 11.2859 10.246 10.8656 10.6373C10.4442 11.0285 9.90955 11.2247 9.25949 11.2247C8.60944 11.2247 8.0524 11.0285 7.63099 10.6373ZM11.1424 12.8817V24.8777H7.35304V12.8817H11.1424ZM25.0007 17.762C25.0007 16.1947 24.5881 14.9637 23.7618 14.0669C22.9367 13.17 21.8313 12.7215 20.4478 12.7215C19.6709 12.7215 18.9725 12.8729 18.3514 13.1767C17.7303 13.4805 17.2358 13.8931 16.8692 14.4155V12.8482H13.248V24.6659H16.8692V18.2486C16.8692 17.4582 17.0744 16.8439 17.4836 16.4066C17.8928 15.9683 18.4444 15.7496 19.135 15.7496C19.8256 15.7496 20.3772 15.9694 20.7864 16.4066C21.1956 16.8439 21.4008 17.4582 21.4008 18.2486V24.6659H25.0007V17.762Z" fill="#AAAEB3"/>
                        </svg> 
                    a(href="#!").header__menu-soc-item
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9636 0H16.0364C24.8529 0 32 7.14713 32 15.9636V16.0364C32 24.8529 24.8529 32 16.0364 32H15.9636C7.14713 32 0 24.8529 0 16.0364V15.9636C0 7.14713 7.14713 0 15.9636 0ZM11.0501 6.51042H20.9518C23.6873 6.51042 25.9128 8.73583 25.9128 11.4714V20.53C25.9128 23.2655 23.6873 25.4909 20.9518 25.4909H11.0501C8.31461 25.4909 6.08919 23.2655 6.08919 20.53V11.4714C6.08919 8.73583 8.31461 6.51042 11.0501 6.51042ZM11.0501 8.26048C9.27989 8.26048 7.83926 9.70111 7.83926 11.4714V20.53C7.83926 22.3002 9.27989 23.7408 11.0501 23.7408H20.9518C22.7221 23.7408 24.1627 22.3002 24.1627 20.53V11.4714C24.1627 9.70111 22.7221 8.26048 20.9518 8.26048H11.0501ZM16.0007 20.6139C18.5445 20.6139 20.6152 18.5444 20.6152 15.9994C20.6152 13.4545 18.5456 11.3849 16.0007 11.3849C13.4557 11.3849 11.3861 13.4545 11.3861 15.9994C11.3861 18.5444 13.4557 20.6139 16.0007 20.6139ZM16.0007 13.1361C17.5803 13.1361 18.8651 14.4209 18.8651 16.0006C18.8651 17.5802 17.5803 18.865 16.0007 18.865C14.421 18.865 13.1362 17.5802 13.1362 16.0006C13.1362 14.4209 14.421 13.1361 16.0007 13.1361ZM22.2848 10.8874C22.2848 11.5735 21.7267 12.1307 21.0419 12.1307C20.3559 12.1307 19.7989 11.5735 19.7989 10.8874C19.7989 10.2012 20.3559 9.64404 21.0419 9.64404C21.7278 9.64404 22.2848 10.2012 22.2848 10.8874Z" fill="#AAAEB3"/>
                        </svg> 
                    a(href="#!").header__menu-soc-item
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M18.2282 31.8464C26.0099 30.7623 32 24.0816 32 16.0006C32 7.16393 24.8349 0 15.9994 0C7.16393 0 0 7.16393 0 16.0006C0 23.9638 5.81859 30.5695 13.4377 31.796C14.2718 31.9305 15.1283 32 16.0006 32C16.7562 32 17.5006 31.9473 18.2282 31.8464ZM18.2277 16.3324V12.8469L18.2289 12.8457C18.2289 12.0128 18.9049 11.3367 19.7379 11.3367H22.5407V7.27604H18.2513C18.2474 7.27604 18.2437 7.2766 18.2401 7.27716C18.2364 7.27772 18.2328 7.27828 18.2289 7.27828V7.27604C15.5819 7.27604 13.4372 9.42186 13.4372 12.0677V16.3324H9.46061V21.0276H13.4372V31.7948C14.2713 31.9294 15.1279 31.9989 16.0001 31.9989C16.7557 31.9989 17.5001 31.9462 18.2277 31.8453V21.0276H21.8568L22.5395 16.3324H18.2277Z" fill="#AAAEB3"/>
                        </svg> 