mixin hello()
    section.hello 
        .hello__container.container 
            h1.hello__title Привет!
            p.hello__desc Мы медиабаинг-команда на рынке партнёрского маркетинга, а также холдинг, в который входят сервис аренды приложений и СРА-сеть.<br><br>У нас колоссальный опыт работы в разных вертикалях, который не мешает общекомандному чувству юмора:)
            a(href="#!" data-href="#!").link.hello__btn.hover Открытые вакансии 