mixin stat()
    section.stat#stat
        .stat__container.container 
            h2.stat__title Медиабаинговое агентство новой генерации
            p.stat__p Предоставим любые объемы качественного трафика под ваш бизнес.
            .stat__content 
                .stat__item.big 
                    