doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        title Document
    body(data-barba="wrapper")
        ul.transition 
            li 
            li 
            li 
            li 
            li 
        .fixed
        .wrapper 
            include components/header 
            +header 
            main.main(data-barba="container" data-barba-namespace="privacy")
                .privacy 
                    .privacy__container.container
                        h1.privacy__title Privacy Policy
                        .privacy__row 
                            .privacy__col 
                                p This privacy policy ("policy") will help you understand how Appy Agency  ("us", "we", "our") uses and protects the data you provide to us when you visit and use https://appyagency.com/  (“website”, "blog", "service").<br><br>We reserve the right to change this policy at any given time, of which you will be promptly updated. If you want to make sure that you are up to date with the latest changes, we advise you to frequently visit this page.<br><br><span>What User Data We Collect</span><br><br>When you visit the blog, we may collect the following data:<br><br>• Your IP address.<br>• Your contact information and email address.<br>• Other information such as interests and preferences.<br>• Data profile regarding your online behavior on our blog.<br><br><span>Why We Collect Your Data</span><br><br>We are collecting your data for several reasons:<br><br>• To better understand your needs.<br>• To improve our services and products.<br>• To send you promotional emails containing the information we think you will find interesting.<br>• To contact you to fill out surveys and participate in other types of market research.<br>• To customize our blog according to your online behavior and personal preferences.<br><br><span>Safeguarding and Securing the Data</span><br><br>Appy Agency is committed to securing your data and keeping it confidential. Appy Agency has done all in its power to prevent data theft, unauthorized access, and disclosure by implementing the latest technologies and software, which help us safeguard all the information we collect online.
                            .privacy__col 
                                p <span>Our Cookie Policy</span><br><br>Once you agree to allow our blog to use cookies, you also agree to use the data it collects regarding your online behavior (analyze web traffic, web pages you visit and spend the most time on).<br><br>The data we collect by using cookies is used to customize our blog to your needs. After we use the data for statistical analysis, the data is completely removed from our systems.<br><br>Please note that cookies don't allow us to gain control of your computer in any way. They are strictly used to monitor which pages you find useful and which you do not so that we can provide a better experience for you.<br><br>If you want to disable cookies, you can do it by accessing the settings of your internet browser. You can visit https://www.internetcookies.com, which contains comprehensive information on how to do this on a wide variety of browsers and devices.<br><br><span>Links to Other Websites</span><br><br>Our blog contains links that lead to other websites. If you click on these links Appy Agency is not held responsible for your data and privacy protection. Visiting those websites is not governed by this privacy policy agreement. Make sure to read the privacy policy documentation of the website you go to from our website.<br><br><span>Restricting the Collection of your Personal Data</span><br><br>At some point, you might wish to restrict the use and collection of your personal data. You can achieve this by doing the following:<br><br>When you are filling the forms on the blog, make sure to check if there is a box which you can leave unchecked, if you don't want to disclose your personal information.<br><br>If you have already agreed to share your information with us, feel free to contact us via email and we will be more than happy to change this for you.<br><br>Appy Agency  will not lease, sell or distribute your personal information to any third parties, unless we have your permission. We might do so if the law forces us. Your personal information will be used when we need to send you promotional materials if you agree to this privacy policy. <br><br>PRO TIP: Save your time and take the guesswork out of the legal jargon with the professional privacy policy generator trusted by thousands of businesses.
            include components/footer 
            +footer
        script(src="js/app.min.js") 